.cell {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 12px;
  grid-gap: 4px;
  color: #fff;

  &__title {
    grid-column: 1/-1;
    justify-self: center;
  }

  &__info {
    font-size: 20px;
    justify-self: center;
  }

  &__breakdown {
    display: flex;
    align-items: center;
    padding: 4px;

    &:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &--severe {
      justify-self: start;
      &:before {
        background-color: darkred;
      }
    }

    &--mild{
      justify-self: end;
      &:before {
        background-color: darkorange;
      }
    }
  }
}
